@charset "UTF-8";
/* Color scheme: #010101, #007FFF, ##003FA3, #FF8000, #808080 #EFEFEF */
body {
    background-color:  #EFEFEF;
  }
  
h1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #003FA3;
    color: #EFEFEF;
  }

ul {
    position: absolute;
    top: 0;
    left: 216px;
    width: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    width: 25%;
    max-width: 128px;
  }

li a {
    display: block;
    padding: 8px;
    background-color: #003FA3;
    color: #EFEFEF
  }

h2 {
  position: fixed;
  top: 32px;
  left: 0;
  height: 20%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  color:#003FA3;
  margin: 15px;
}

.projects {
  position: fixed;
  top: 64px;
  margin: 16px;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  width: 99%;
}

h3 {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  width: 90%;
  margin: 0;
  padding: 0;
  background-color: #003FA3;
  color: #EFEFEF;
}

p {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  width: 90%;
  margin: 0;
  padding: 0;
  background-color: #007FFF;
  color: #EFEFEF;
}

h4 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FF8000;
  color: #010101;
}

form {
  position: fixed;
  top: 64px;
  margin: 16px;
  width: 99%;
}